h1 {
  color: var(--text-light);
}

p {
  color: var(--bg-secondary);
}

.img {
  height: 300px;
  width: auto;
  margin: 20px;
}

@media (max-width: 768px) {
  .imgContainer {
    display: flex;
    flex-direction: column;
  }
}
